<div class="container">
  <h1>Formulario</h1>
<form>
  <div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
  </div>
  <div class="form-group">
    <label for="Apellido">Apellido</label>
    <input type="text" class="form-control" id="Apellido" placeholder="Apellido" name="apellido" [(ngModel)]="apellido">
  </div>
  <div class="form-group">
    <label for="Correo">Correo Electronico</label>
    <input type="email" class="form-control" id="Correo" placeholder="Correo Electronico" name="correo" [(ngModel)]="correo">
  </div>
  <div class="form-group">
    <label for="Telefono">Telefono</label>
    <input type="text" class="form-control" id="Telefono" placeholder="Telefono" name="telefono" [(ngModel)]="telefono">
  </div>
  <div class="form-group">
    <label for="Facultad">Facultad</label>
    <input type="text" class="form-control" id="Facultad" placeholder="Facultad" name="facultad" [(ngModel)]="facultad">
  </div>
  <br>
  <div>
    <button class="btn btn-primary" (click)="guardar()" >
      Enviar 
    </button>
    <button class="btn btn-primary" (click)="listar()" >
      Listar 
    </button>
    {{lista}}
  </div>
</form>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Facultad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let person of lista;index as i">
    <tr>
      <th scope="row">1</th>
      <td>{{person.nombre}}</td>
      <td>{{person.apellido}}</td>
      <td>{{person.correo}}</td>
      <td>{{person.telefono}}</td>
      <td>{{person.facultad}}</td>
      <td><button class="btn btn-danger" (click)="eliminar(i)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
</div>

<router-outlet></router-outlet>
